/*
* Author: 		Leevi Grahan
* Contact:		leevi@newism.com.au
* Version:		0.1
* Updated:		04/02/2010
* Notes:		Alert styles
*
* CONTENTS
* -------------------------
* =alerts 	Alerts
* 
*/

/* =alerts Alerts and info
------------------------------------------------------------------------------*/
.mor .alert{
    background:#fff;
    border-width:1px;
    border-style:solid;
    border-color:transparent;
    color:inherit;
    font-size:12px;
    list-style-type:none;
    line-height:1.5em;
    margin:0 0 10px 0;
    padding:5px 10px;
}

.mor .alert > :first-child{margin-top:0 !important;}
.mor .alert > :last-child{margin-bottom:0 !important;}

.mor .alert .info, .mor .alert .help, .mor .alert .success, .mor .alert .error{}
.mor .alert .info{color:#837c00;}
.mor .alert .help{color:#0054a6;}
.mor .alert .success{color:#39b54a;}
.mor .alert .error{color:#ed1c24;}

.mor .alert.info{background:#fffccc; border-color:#fffa99;}
.mor .alert.help{background:#ccdded; border-color:#99bbdb;}
.mor .alert.success{background:#d7f0db; border-color:#b0e1b7;}
.mor .alert.error{background:#fbd2d3; border-color:#f8a4a7;}

.mor .tg .alert{border-top:1px dotted #d3dadf;}