.icon{
	background-position:50% 50%;
	background-repeat:no-repeat;
	cursor:pointer;
	display:inline-block;
	height:0;
	overflow:hidden;
	padding-top:18px;
	width:18px;
}

.icon.add{background-image:url('../../images/icons/morphine/add2.png');}
.icon.delete{background-image:url('../../images/icons/morphine/delete2.png');}
.icon.sort{background-image:url('../../images/icons/morphine/sort2.png'); cursor:move;}