/*
* Author: 		Leevi Grahan
* Contact:		leevi@newism.com.au
* Version:		0.1
* Notes:		Styles for all navigation elements
*
* CONTENTS
* --------------------------------------------------------------------------------
* =nav					General navigation class; IE horizontal menus etc
*/

/* =nav
------------------------------------------------------------------------------*/
nav{}
	.menu,
	.menu li{margin:0; padding:0; list-style:none;}
		.menu li a{display:block;}

	.menu.horizontal li,
	.menu.tabs li{float:left;}

.menu.tabs{
    background:rgba(167,182,191,.5);
    background-image:-moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.3));
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,.3)));
	border-top:1px solid #a7b6bf;
	margin:0 0 18px 0;
	overflow:auto;
	padding:7px 7px 0 7px;
}
.menu.tabs:first-child{border-top:0;}
    .menu.tabs a{
        background:rgba(255,255,255,1);
        color:#415058;
        font-size:9px;
        font-weight:bold;
        margin-right:7px;
        margin-bottom:7px;
        padding:6px 10px 5px 10px;
        text-decoration:none;
        text-transform:uppercase;
        -webkit-border-radius:30px;
        -moz-border-radius:30px;
    }
    .menu.tabs a.active{
        color:#D91350;
    }